<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Key</key>
		<string>global</string>
		<key>Title</key>
		<string>Global script</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>bar</string>
		<key>Title</key>
		<string>Bar script</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>popover</string>
		<key>Title</key>
		<string>Popover script</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
</array>
</plist>
